@media (max-width: 1200px) {}

@media (max-width: 991px) {
    .promo {
        padding: 10px;
    }
    .carousel {
        padding: 15px;
        &__inner {
            .slick-list {
                img {
                    width: 100%;
                }
            }
            .slick-dots {
                display: flex;
                justify-content: center;
                li {
                    list-style: none;
                    margin-right: 40px;
                    button {
                        background-color: #fff;
                        border-radius: 100%;
                        width: 40px;
                        font-size: 0;
                        height: 15px;
                    }
                }
                .slick-active {
                    button {
                        background: linear-gradient(0deg, rgba(20,0,36,1) 0%, rgba(121,9,98,1) 35%, rgba(255,0,0,1) 100%);
                        box-shadow: 1px 8px 5px gray;
                        
                    }
                }
            }
        }
    }

}

@media (max-width: 757px) {
    .header {
        padding: 0 10px 0 10px;
    }
    .carousel {
        
        &__inner {
            width: 100%;
            .slick-slide {
                width: 70%;

                img {
                    width: 100%;
                }
            }
        }
    }

    

    .promo {
        &__wrapper {
            align-items: center;
        }
    }

    .consultation {
        .title {
            text-align: center;
        }

        &__descr {
            text-align: center;
        }

        .feed-form {
            margin: 0 auto;
            margin-top: 5px;
        }
    }

    .benefids {
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }

        &__items {
            margin-bottom: 20px;
        }

        &__subtitle {
            margin-top: 6px;
        }
    }
}

@media (max-width: 575px) {
    .header {
        flex-direction: column;

        &__item {
            margin-bottom: 20px;
        }

        &__official {
            order: -1;
        }
    }

    .promo {
        &__header {
            font-size: 30px;
            text-align: center;
        }

        &__subheader {
            text-align: center;
            font-size: 18px;
        }

        &__icons {
            flex-direction: column;
            align-items: center;
            width: 100%;
        }

        &__icon {
            margin-bottom: 10px;
        }
    }

    .button_main {
        width: 260px;
    }

    .consultation {
        .title {
            font-size: 25px;
        }

        &__descr {
            font-size: 17px;
        }

        .feed-form {
            width: 270px;

            input {
                height: 40px;
            }

            .button {
                &_submit {
                    width: 80%;
                    margin: 0 auto;
                }
            }

        }
    }
}